extends ../layout

block content
  section
    div(style="margin: 20px 0")
      form(method="GET", action="/products")
        input.input#search(name="product", value="", placeholder="Search by product name")
        button.input.cyan(type="submit") Buscar
    div
      h1 Welcome to MaryStore
    script.
      const productFieldValue = new URL(location.href).searchParams.get('product')
      if(productFieldValue)
        document.getElementById('search').value = productFieldValue;
    .products-container
      each product in products
        .product
          h2= product.product_name
          div.product-description!= product.description
          p.price=Number(product.product_price).toLocaleString('pt-br', {currency: 'BRL', style: 'currency'})
          div
            span.status= (product.deletedAt === null) ? ' available' : ' unavailable'
            a(href='/products/' + product.product_id)= 'View Product'
    div
      - var page = 0;
      ul.paginated
        while page <= totalPages
          - url.searchParams.set('page', page)
          li
            a(href=url.toString(), class=(currentPage === page && 'active'))= ++page
