extends ../layout

block content
  section
    div.centered-content
      form.column-form(method="GET", action="/products")
        div.mb-1
          input.input#search(name="product", value="", placeholder="Search by product name")
          button.input.cyan(type="submit") Buscar
        div.mb-1
          div#sortByContainer(hidden=true)
            label(for="sortBy") Ordenar por &nbsp;
            select#sortBy(name="sortBy")
              option(value="product_name") Nome
              option(value="product_price", selected=true) Preço
              option(value="createdAt") Data de criação
          div#orderContainer(hidden=true)
            label(for="order") Ordem &nbsp;
            select#order(name="order")
              option(value="ASC", selected=true) Crescente
              option(value="DESC") Decrescente
      button#toggle Mostrar filtros
    div
      h1 Welcome to MaryStore
    script(src="/javascripts/products-page-fields.js", async=true)
    .products-container
      each product in products
        div.product(id=`product-${product.product_id}`)
          h2= product.product_name
          div.product-description!= product.product_description
          p.price=Number(product.product_price).toLocaleString('pt-br', {currency: 'BRL', style: 'currency'})
          div
            span.status= (product.deletedAt === null) ? ' disponível' : ' indisponível'
            a(href='/products/' + product.product_id)= 'Ver produto'
    include ../components/pagination
